.footer {
    background-color: #000000;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 20px 60px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.footer-texto {
    font-size: 1.8rem;
    line-height: 1.3;
    color: #cccccc;
}

.footer-contato li {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.1;
    color: #ffffff;
    margin-bottom: 30px;
}

.footer-contato li a {
    text-decoration: none;
    color: #ffffff;
}

.footer-copy {
    font-size: 1.125rem;
    color: #8f8f8f;
    grid-column: 1 / -1;
}

@media (max-width: 800px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 50px;
        padding: 50px 20px 20px 20px;
    }

    .footer-texto {
        font-size: 1.6rem;
    }

    .footer-contato li {
        font-size: 1.5rem;
    }

    .footer-contato li {
        margin-bottom: 15px;
    }
}

@media (max-width: 420px) {
    .footer-texto {
        font-size: 1.3rem;
    }

    .footer-contato li {
        font-size: 1rem;
    }
}